.form-description {
  width: 280px;
  margin: 0 auto;

  .form-description__title {
    margin-top: 27px;
  }

  .form-description__preview {
    font-size: 14px;
    line-height: 1.28;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 37px;
  }
}
