.form-border {
  border: none;
}

.form__info {
  margin-top: 39px;
}

.form__label {
  font-size: 16px;
  line-height: 1.12;
  font-weight: 400;
  text-transform: uppercase;
  color: $text-gray;
}

.form__input {
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 1.12;
  font-weight: 400;
  text-transform: uppercase;
  color: $text-gray;
  border: 1px solid $border-gray;
  height: 45px;
  padding-left: 15px;
  padding-right: 15px;
}

.form__input:focus {
  outline: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.form__label-radio {
  color: $text-dark-gray;
}

.legend {
  font-size: 24px;
  line-height: 1.08;
  font-weight: 400;
}

.form__contacts {
  margin-top: 26px;
}

.form__comments {
  margin-top: 27px;
}

.form__comments-text {
  min-width: 280px;
  min-height: 150px;
  padding-top: 13px;
  resize: none;
}

.form__more {
  margin-top: 27px;
}

.form__send {
  width: 280px;
  margin: 0 auto;

  .form__send-button {
    border: none;
    cursor: pointer;

    &:focus {
      outline: 0;
    }
  }

  .form__send-field {
    font-family: $font-arial;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 400;
    text-align: center;
  }
}
