.map-contacts__about {
  width: 280px;
}

.map-contacts__title {
  font-size: 16px;
  line-height: 1.12;
  color: $text-darkness-gray;
  text-transform: uppercase;
}

.map-contacts__adress {
  font-family: $font-arial;
  color: $text-gray;
  font-style: normal;
  line-height: 1.42;
}

