.map-contacts__about {
  width: 280px;
  margin: 0 auto;
  padding-top: 28px;
}

.map-contacts__title {
  font-size: 16px;
  line-height: 1.12;
  color: $text-darkness-gray;
  text-transform: uppercase;
}

.map-contacts__address {
  font-family: $font-arial;
  color: $text-gray;
  font-style: normal;
  line-height: 1.42;
}

.map-contacts__map {
  margin-top: 22px;
}

.map-contacts--form {
  background-color: $basic-gray;
}
