.more-products__title {
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  margin-top: 28px;
  margin-left: 20px;
}

.more-products__wrapper {
  width: 280px;
}

.more-products__list {
  @include list-reset;

  .more-products__item-title {
    font-size: 16px;
    line-height: 1;
    color: $text-dark-gray;
    text-transform: uppercase;
  }
}

.more-products__item-wrapper {
  font-family: $font-arial;
  font-size: 14px;
  line-height: 1;
  color: $text-gray;

  .more-products__rub {
    text-transform: uppercase;
  }
}

.more-products__button {
  margin-top: 15px;
}

.more-products__present {
  background-image: url("../../img/gift-photo-mobile.png");
  background-repeat: no-repeat;
  min-width: 280px;
  min-height: 289px;
  margin-top: 57px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.more-products__present-about {
  position: relative;
  font-family: $font-arial;
  font-size: 16px;
  line-height: 1.25;
  color: $basic-white;
  text-align: center;
  bottom: 0;
  margin-bottom: 43px;
  margin-top: 10px;
}

.more-products__present-about::before {
  content: "";
  position: absolute;
  background-image: url("../../img/icon_gift.svg");
  background-repeat: no-repeat;
  top: -130px;
  left: 101px;
  width: 78px;
  height: 80px;
  margin-top: -15px;
}
