.programs {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}

.programs__wrapper {
  outline: 5px solid rgba(0, 255, 255, 0.8);
  outline-offset: -5px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.programs__title {
  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;
  padding-top: 30px;
  font-weight: 400;
  outline: 5px solid rgba(229, 255, 0, 0.8);
  outline-offset: -5px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
    text-transform: uppercase;
    padding-top: 77px;
    font-weight: 400;
  }
}

.programs__slim,
.programs__fat {
  background-color: $basic-gray;
  outline: 5px solid rgba(212, 136, 136, 0.8);
  outline-offset: -5px;
}

.programs__title--slim {
  position: relative;
  margin-left: 90px;
  margin-bottom: 18px;
}

.programs__title--slim::before {
  content: "";
  position: absolute;
  background-image: url("../../img/cat_small.svg");
  background-repeat: no-repeat;
  top: 15px;
  left: -70px;
  width: 50px;
  height: 53px;
}

.programs__title--fat {
  position: relative;
  margin-left: 90px;
}

.programs__title--fat::before {
  content: "";
  position: absolute;
  background-image: url("../../img/cat_big.svg");
  background-repeat: no-repeat;
  top: 22px;
  left: -80px;
  width: 67px;
  height: 50px;
}

.programs__description {
  font-family: $font-arial;
  color: $text-gray;
  margin-top: 29px;
  margin-left: 20px;
  margin-right: 33px;
  outline: 5px solid rgba(136, 212, 146, 0.8);
  outline-offset: -5px;
}

.programs__catalog {
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  position: relative;
  margin-top: 38px;
  margin-left: 20px;
  padding-bottom: 18px;
  display: block;
  outline: 5px solid rgba(199, 136, 212, 0.8);
  outline-offset: -5px;

  &:hover::before {
    content: "";
    position: absolute;
    background-image: url("../../img/arrow-big.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 11px;
    top: 1px;
    right: 124px;
  }

  &:active {
    opacity: 0.3;
    transition: $default-transition;
  }
}

.programs__catalog::before {
  content: "";
  position: absolute;
  background-image: url("../../img/arrow.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 11px;
  top: 1px;
  right: 130px;
}
