/* Fonts */
$font-oswald: "Oswald", "Arial", sans-serif;
$font-arial: "Arial", "Helvetica", sans-serif;

/* Color */
$basic-white: #ffffff;
$white-active: rgba(255, 255, 255, 0.3);
$basic-black: #000000;
$basic-gray: #f2f2f2;
$basic-green: #68b738;
$green-hover: #57b138;
$green-background: rgba(104, 183, 56, 0.85);
$dark-gray: #eaeaea;
$text-gray: #444444;
$text-darkness-gray: #111111;
$text-dark-gray: #222222;
$link-gray: #919191;
$border-error: #ff8282;
$border-gray: #e7e7e7;

/* Animations */
$default-transition: 0.3s ease-in-out;
